.nav-container {
    width: 100%;
    display: flex;
    padding: 20px;
    margin: auto;
    margin: auto;
    background-color: rgb(18, 17, 17);
}

.navbar {
    background-color: #002147;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.uni-name {
    padding: 20px;
}

.logo {
    width: 80px;
    height: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
    padding: 20px;
}

.nav-links a:hover {
    color: #ffcc00;
}

.login-btn {
    background-color: #ffcc00;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 600;
    color: #002147;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-logo img {
    cursor: pointer;
}

.login-btn:hover {
    background-color: #ffd633;
}

.logout {
    display: none;
}

.pro-logo {
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.profile:hover .logout {
    display: flex;
    color: red;
    cursor: pointer;
}

@media (max-width:500px) {
    .uni-name {
        display: none;
    }
}