/* .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #545454;
    color: white
}

.left-navbar {
    display: flex;
    align-items: center;
}

.left-navbar img {
    width: 50px;
    padding: 10px;
    cursor: pointer;
}

.center-navbar ul {
    display: flex;
    justify-content: start;
}


.center-navbar ul li {
    list-style: none;
    padding: 10px 10px;
    margin: 10px 10px;
    cursor: pointer;
}

.center-navbar ul li:hover {
    background-color: white;
    color: black;
    border-radius: 50px;
    transition: 3s grey ease-in-out;
}

.right-navbar button {
    border: none;
    padding: 10px;
    margin-left: 30px;
    font-weight: 500;
    margin-right: 10px;
    color: white;
    border-radius: 10px;
    background-color: red;
    cursor: pointer;
}

.right-navbar button:hover {
    background: white;
    color: black;
}

@media(max-width:900px) {
    .center-navbar {
        display: none;
    }
    .left-navbar h1 {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        gap: 10px;
        padding: 15px;
    }
    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .hero-text h2 {
        font-size: 2rem;
    }
}

*/