.campus-lists {
    /* background-color: green; */
    width: 100%;
    padding: 10px;
}

.campus-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.department-lists {
    display: flex;
    justify-content: space-between;
}

 .department button {
    background-color: green;
    padding: 12px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
}

hr {
    margin-top: 5px;
}

.department {
    display: flex;
    text-align: center;
    justify-content: space-between;
}